@tailwind base;
@tailwind components;
@tailwind utilities;


div.code-toolbar {
	position: relative;
}


div.code-toolbar > .toolbar {
	position: absolute;
	z-index: 10;
	bottom: .3em;
	right: .2em;
	transition: opacity 0.3s ease-in-out;
	opacity: 1;
}
